body {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  min-height: 500px;
  margin: 40px auto;
  color: black;
}

#list-form input {
  width: 10rem;
  height: 1rem;
  margin: 1rem;
}